@font-face {
    font-family: StratosSkyeng;
    src: url(./fonts/stratosskyengweb-regular.woff);
    src: url(./fonts/stratosskyengweb-regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(0, 73, 128, 1);
    font-family: StratosSkyeng;
}

.box {
    display: flex;
    justify-content: center;
    padding-top: 158px;

    &-text {
        width: 208px;
        color: #004980;
        font-family: StratosSkyeng;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        padding-top: 16px;
    }

    &-games {
        background-color: #c2f5ff;
        width: 480px;
        height: 459px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

.box-games-selection {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.box-level-selection-games {
    display: flex;
    gap: 26px;

    & input[type='radio'] {
        display: none;
    }

    & label {
        background-color: #ffffff;
        display: inline-block;
        width: 98px;
        height: 98px;
        border-radius: 12px;
        cursor: pointer;
        text-align: center;
        font-family: StratosSkyeng;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        line-height: 92px;
        color: #0080c1;
    }
    & input[type='radio']:checked + label {
        background-color: #0080c1;
        color: #ffffff;
    }

    & label:hover {
        background-color: #0080c1;
        color: #ffffff;
    }
}

.start-button {
    background-color: #7ac100;
    color: #ffffff;
    border-radius: 12px;
    border: none;
    width: 246px;
    height: 50px;
    font-family: StratosSkyeng;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    cursor: pointer;
}
